In [4]:
# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# Read owid dataset files
us_cov19_data = pd.read_csv("/Users/robinmevans/Desktop/Project 1/Raw Files/maryland_vaccination/maryland_vaccination/Datasets/us-covid-19-total-people-vaccinated.csv")
us_cov19_data.head()

    Entity Code        Date  people_vaccinated
0  Alabama  NaN  2021-01-12              70861
1  Alabama  NaN  2021-01-13              74792
2  Alabama  NaN  2021-01-14              80480
3  Alabama  NaN  2021-01-15              86956
4  Alabama  NaN  2021-01-19             114319

In [6]:
# Number of rows and columns-raw file
us_cov19_data.shape

(3191, 4)

In [8]:
# List of columns
us_cov19_data.columns

Index(['Entity', 'Code', 'Date', 'people_vaccinated'], dtype='object')

In [9]:
# Check for null values
us_cov19_data.isnull().sum()

Entity                  0
Code                 2841
Date                    0
people_vaccinated       0
dtype: int64

In [10]:
selected_us_cov19_df = us_state_data[['Entity','Code','Date','people_vaccinated']]
selected_us_cov19_df.head()

    Entity Code        Date  people_vaccinated
0  Alabama  NaN  2021-01-12              70861
1  Alabama  NaN  2021-01-13              74792
2  Alabama  NaN  2021-01-14              80480
3  Alabama  NaN  2021-01-15              86956
4  Alabama  NaN  2021-01-19             114319

In [12]:
# Checking all unique values in the 'Entity' column
selected_us_cov19_df['Entity'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'Bureau of Prisons', 'California', 'Colorado', 'Connecticut',
       'Delaware', 'Dept of Defense', 'District of Columbia',
       'Federated States of Micronesia', 'Florida', 'Georgia', 'Guam',
       'Hawaii', 'Idaho', 'Illinois', 'Indian Health Svc', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Long Term Care', 'Louisiana',
       'Maine', 'Marshall Islands', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York State', 'North Carolina', 'North Dakota',
       'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Republic of Palau', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'United States', 'Utah', 'Vermont', 'Veterans Health',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [13]:
# Narrowing down to just Maryland data
maryland_df = selected_us_cov19_df[selected_us_cov19_df['Entity'] == 'Maryland']
maryland_df.head()

        Entity Code        Date  people_vaccinated
1349  Maryland  NaN  2021-01-12             136576
1350  Maryland  NaN  2021-01-13             162350
1351  Maryland  NaN  2021-01-14             165318
1352  Maryland  NaN  2021-01-15             178831
1353  Maryland  NaN  2021-01-19             225456

In [14]:
# Counts of 'Maryland' rows/columns
maryland_df.shape

(50, 4)

In [15]:
# Create a new dataframe from the sort result
sorted_df = maryland_df.sort_values('Date')
sorted_df.head()

        Entity Code        Date  people_vaccinated
1349  Maryland  NaN  2021-01-12             136576
1350  Maryland  NaN  2021-01-13             162350
1351  Maryland  NaN  2021-01-14             165318
1352  Maryland  NaN  2021-01-15             178831
1353  Maryland  NaN  2021-01-19             225456

In [16]:
# Run the .reset_index() on the sorted dataframe
# Pass in drop=True to prevent appending a new column with the old index

sorted_df = sorted_df.reset_index(drop=True)
sorted_df.head()

     Entity Code        Date  people_vaccinated
0  Maryland  NaN  2021-01-12             136576
1  Maryland  NaN  2021-01-13             162350
2  Maryland  NaN  2021-01-14             165318
3  Maryland  NaN  2021-01-15             178831
4  Maryland  NaN  2021-01-19             225456

In [17]:
# stats on each column
sorted_df.describe()

       people_vaccinated
count       5.000000e+01
mean        5.481472e+05
std         2.469826e+05
min         1.365760e+05
25%         3.440142e+05
50%         5.347880e+05
75%         7.521220e+05
max         1.033233e+06

In [18]:
# Check for missing values on 'Maryland' data

sorted_df.isnull().sum()

Entity                0
Code                 50
Date                  0
people_vaccinated     0
dtype: int64

In [19]:
# Dropped null values for "Maryland" data
sorted_df.dropna(inplace=True)
sorted_df.isnull().sum()

Entity               0
Code                 0
Date                 0
people_vaccinated    0
dtype: int64