In [2]:
# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Read owid dataset files
owid_data = pd.read_csv("/Users/robinmevans/Desktop/Project 1/Raw Files/maryland_vaccination/Datasets/owid-covid-data.csv")
daily_covid_vacc = pd.read_csv("/Users/robinmevans/Desktop/Project 1/Raw Files/maryland_vaccination/Datasets/daily-covid-vaccination-doses-per-capita.csv")
owid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [4]:
# Number of rows and columns
owid_data.shape

(72590, 59)

In [5]:
# List of columns
owid_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [6]:
# Check for null values
owid_data.isnull().sum()

iso_code                                     0
continent                                 3598
location                                     0
date                                         0
total_cases                               1060
new_cases                                 1062
new_cases_smoothed                        2063
total_deaths                             10172
new_deaths                               10014
new_deaths_smoothed                       2063
total_cases_per_million                   1451
new_cases_per_million                     1453
new_cases_smoothed_per_million            2449
total_deaths_per_million                 10550
new_deaths_per_million                   10392
new_deaths_smoothed_per_million           2449
reproduction_rate                        14223
icu_patients                             64977
icu_patients_per_million                 64977
hosp_patients                            63433
hosp_patients_per_million                63433
weekly_icu_admissions                    71873
weekly_icu_admissions_per_million        71873
weekly_hosp_admissions                   71408
weekly_hosp_admissions_per_million       71408
new_tests                                39728
total_tests                              39882
total_tests_per_thousand                 39882
new_tests_per_thousand                   39728
new_tests_smoothed                       35127
new_tests_smoothed_per_thousand          35127
positive_rate                            36364
tests_per_case                           36915
tests_units                              33830
total_vaccinations                       69385
people_vaccinated                        69876
people_fully_vaccinated                  70800
new_vaccinations                         69882
new_vaccinations_smoothed                67827
total_vaccinations_per_hundred           69385
people_vaccinated_per_hundred            69876
people_fully_vaccinated_per_hundred      70800
new_vaccinations_smoothed_per_million    67827
stringency_index                         10325
population                                 400
population_density                        4770
median_age                                6634
aged_65_older                             7394
aged_70_older                             7006
gdp_per_capita                            6441
extreme_poverty                          27416
cardiovasc_death_rate                     5802
diabetes_prevalence                       4962
female_smokers                           20065
male_smokers                             20786
handwashing_facilities                   39093
hospital_beds_per_thousand               11438
life_expectancy                           3613
human_development_index                   5861
dtype: int64

In [7]:
selected_covid_df = owid_data[['iso_code','continent','location','date','total_deaths']]
selected_covid_df.head()

  iso_code continent     location        date  total_deaths
0      AFG      Asia  Afghanistan  2020-02-24           NaN
1      AFG      Asia  Afghanistan  2020-02-25           NaN
2      AFG      Asia  Afghanistan  2020-02-26           NaN
3      AFG      Asia  Afghanistan  2020-02-27           NaN
4      AFG      Asia  Afghanistan  2020-02-28           NaN

In [10]:
selected_covid_df['iso_code'].unique()

array(['AFG', 'OWID_AFR', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG',
       'ARM', 'OWID_ASI', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB',
       'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA',
       'BRA', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV',
       'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COG', 'CRI',
       'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'COD', 'DNK', 'DJI', 'DMA',
       'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH',
       'OWID_EUR', 'OWID_EUN', 'FRO', 'FLK', 'FJI', 'FIN', 'FRA', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GTM',
       'GGY', 'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL',
       'IND', 'IDN', 'OWID_INT', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA',
       'JAM', 'JPN', 'JEY', 'JOR', 'KAZ', 'KEN', 'OWID_KOS', 'KWT', 'KGZ',
       'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX',
       'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT',
       'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MSR', 'MAR',
       'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NZL', 'NIC', 'NER', 'NGA',
       'OWID_NAM', 'MKD', 'OWID_NCY', 'NOR', 'OWID_OCE', 'OMN', 'PAK',
       'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT',
       'ROU', 'RUS', 'RWA', 'SHN', 'KNA', 'LCA', 'VCT', 'WSM', 'SMR',
       'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SVK', 'SVN',
       'SLB', 'SOM', 'ZAF', 'OWID_SAM', 'KOR', 'SSD', 'ESP', 'LKA', 'SDN',
       'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS',
       'TGO', 'TTO', 'TUN', 'TUR', 'TCA', 'UGA', 'UKR', 'ARE', 'GBR',
       'USA', 'URY', 'UZB', 'VUT', 'VAT', 'VEN', 'VNM', 'OWID_WRL', 'YEM',
       'ZMB', 'ZWE'], dtype=object)

In [11]:
# Narrow down to USA iso_codes
usa_covid_df = selected_covid_df[selected_covid_df['iso_code'] == 'USA']
usa_covid_df.head()

      iso_code      continent       location        date  total_deaths
68800      USA  North America  United States  2020-01-22           NaN
68801      USA  North America  United States  2020-01-23           NaN
68802      USA  North America  United States  2020-01-24           NaN
68803      USA  North America  United States  2020-01-25           NaN
68804      USA  North America  United States  2020-01-26           NaN

In [12]:
usa_covid_df.shape

(407, 5)

In [16]:
# preview dataset
daily_covid_vacc.head()

    Entity Code        Date  new_vaccinations_smoothed_per_million
0  Albania  ALB  2021-01-11                                     22
1  Albania  ALB  2021-01-12                                     22
2  Albania  ALB  2021-01-13                                     22
3  Albania  ALB  2021-01-14                                     23
4  Albania  ALB  2021-01-15                                     22

In [13]:
daily_covid_vacc.shape

(5079, 4)

In [17]:
# List of columns
daily_covid_vacc.columns

Index(['Entity', 'Code', 'Date', 'new_vaccinations_smoothed_per_million'], dtype='object')

In [18]:
# Check for null values
daily_covid_vacc.isnull().sum()

Entity                                     0
Code                                     401
Date                                       0
new_vaccinations_smoothed_per_million      0
dtype: int64

In [20]:
daily_covid_vacc['Code'].unique()

array(['ALB', 'DZA', 'AND', 'AIA', 'ARG', 'AUS', 'AUT', 'AZE', 'BHR',
       'BGD', 'BRB', 'BLR', 'BEL', 'BMU', 'BOL', 'BRA', 'BGR', 'KHM',
       'CAN', 'CYM', 'CHL', 'CHN', 'COL', 'CRI', 'HRV', 'CYP', 'CZE',
       'DNK', 'DOM', 'ECU', 'EGY', 'SLV', nan, 'EST', 'FRO', 'FLK', 'FIN',
       'FRA', 'DEU', 'GIB', 'GRC', 'GRL', 'GTM', 'GGY', 'GUY', 'HKG',
       'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRL', 'IMN', 'ISR', 'ITA',
       'JPN', 'JEY', 'JOR', 'KAZ', 'KWT', 'LVA', 'LBN', 'LIE', 'LTU',
       'LUX', 'MAC', 'MYS', 'MDV', 'MLT', 'MUS', 'MEX', 'MCO', 'MNG',
       'MNE', 'MSR', 'MAR', 'MMR', 'NPL', 'NLD', 'NZL', 'OWID_CYN', 'NOR',
       'OMN', 'PAK', 'PAN', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT',
       'ROU', 'RUS', 'SMR', 'SAU', 'SEN', 'SRB', 'SYC', 'SGP', 'SVK',
       'SVN', 'ZAF', 'KOR', 'ESP', 'LKA', 'SWE', 'CHE', 'THA', 'TTO',
       'TUR', 'TCA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'VEN', 'OWID_WRL',
       'ZWE'], dtype=object)

In [22]:
selected_daily_covid_df = daily_covid_vacc[daily_covid_vacc['Code'] == "USA"]
selected_daily_covid_df.head()

             Entity Code        Date  new_vaccinations_smoothed_per_million
4821  United States  USA  2020-12-21                                    173
4822  United States  USA  2020-12-22                                    381
4823  United States  USA  2020-12-23                                    450
4824  United States  USA  2020-12-24                                    571
4825  United States  USA  2020-12-25                                    644